{% extends 'base_generic.html' %}
{% block content %}
{% load static %}
<!-- Main Content-->
    {% for post in post_latest %}
    {% if forloop.first %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-preview">
                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                    </a>
                    <div class="entry-date published">{{ post.createDate}}</div>
                    <p>
                    <div class="excerpt">
                        {%if post.is_content_more300%}
                        {{ post.get_content_less300 }}
                        {% else %}
                        {{ post.content }}
                        {%endif%}
                    </div>
                    </p>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">EVOLABS</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-preview">
                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                    </a>
                    <div class="entry-date published">{{ post.createDate}}</div>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">EVOLABS</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    {% endfor %}
{% endblock %}