{% extends 'base_generic.html' %}
{% block content %}
{% load static %}
    <!-- Main Content-->
    <div style="display: flex; flex-direction:row; text-align: center; justify-content: center;">
        <h1>PROJECTS</h1>
    </div>
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">     
                    <div style="border: solid 0.5px gray; border-radius:15px; display: flex; align-items: center;justify-content: center; margin-top: 50px; background-color:brown">
                            <div>
                                <a href="/shinstagram"> 
                                    <img style="border-radius: 15px; width: 100%; height: 100%; max-width:300px; max-height:300px; margin-right:50px;"src="http://evolabs.co.kr/media/84c6565515994eec9afee5a27d4e79a8" >
                                </a>
                            </div>
                        <div style="color:white;">
                            <h1 class="Box_title"> <a  style="color:white;" href="/shinstagram"> Shinstagram</a></h1>
                            <p class="company">개인프로젝트</p>
                            <p class="name">개발기간 :2022.05. ~ </p>
                            <p class="Box_content">WEB 전용</p>
                            <p class="Box_content">인스타그램 클론 프로젝트</p>
                            <ul>
                                <li>#AWS EC2</li>
                                <li>#NGINX</li>
                                <li>#UWSGI</li>
                                <li>#DJANGO </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}