{% extends 'base_generic.html' %}
{% block content %}
{% load static %}
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- KSS 내용을 이력하는 곳-->
                    <h2 class="entry-title">
                        <h2>{{ post.title }}</h2>
                        <div class="entry-date published">{{ post.createDate}}</div>
                        <p>{{ post.content }}</p>

                        <!--image load -->
                        {% if post.title_image %}
                        <div class="post-full-width">
                            <img src="{{ post.title_image.url }}" alt="">
                        </div>
                        {%endif%}

                    </h2>
                </div>
            </div>
        </div>
    </article>
{% endblock %}