{% extends 'shinstagram_generic.html' %}
{% block content %}
{% load static %}
<div class="container">
   <div style="display: flex; flex-direction:row; text-align: center; justify-content: center; padding-top: 70px; ">
        <div style="width: 600px; min-width: 600px;height: 100%; margin-right: 400px;">
            <!--피드 시작-->
            {% for feed in feed_list %}

            <div style="border: solid 1px rgb(223, 221, 221); background-color: white; margin-top: 25px; border-radius: 10px">
                <div style="display: flex; flex-direction: row; ">
                    <div>
                        <div class="feed_profile_image_box" style="width: 60px; height: 60px; margin-top: 15px; margin-left: 15px;">
                            <img id="feed_profile_image" class="profile" src="{% get_media_prefix %}{{ feed.feed_user_profile_image }}">
                        </div>
                    </div>
                    <div id="feed_user_id" class="user_id">
                        {{ feed.feed_user_id }}
                    </div>
                </div>
                <div><img class="user_image" src="{% get_media_prefix %}{{ feed.image }}" alt=""></div>
                <div class="user_contents">
                    <div style="display: flex; flex-direction: row; justify-content: space-between">
                        <div>
                            {% if feed.is_liked %}
                                <span id="feed_favorite_{{ feed.feed_id }}" feed_id="{{ feed.feed_id }}" style="color: rgb(175, 38, 52);" class="class_favorite_icon main_icons material-icons-outlined">favorite</span>
                            {% else %}
                                <span id="feed_favorite_{{ feed.feed_id }}" feed_id="{{ feed.feed_id }}" style="color: black;" class="class_favorite_icon main_icons material-icons-outlined">favorite_border</span>
                            {% endif %}
                            <span id="feed_comment" class="main_icons material-icons-outlined">mode_comment</span>
                            <span id="feed_send" class="main_icons material-icons-outlined">send</span>
                        </div>
                        <div>
                            {% if feed.is_booked %}
                                <span id="feed_bookmark_{{ feed.feed_id }}" feed_id="{{ feed.feed_id }}" class="class_bookmark_icon main_icons material-icons-outlined" style="width: 25px;">bookmark</span>
                            {% else %}
                                <span id="feed_bookmark_{{ feed.feed_id }}" feed_id="{{ feed.feed_id }}" class="class_bookmark_icon main_icons material-icons-outlined" style="width: 25px;">bookmark_border</span>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <!--좋아요-->
                        <div>좋아요 {{feed.like_count}}개</div>
                        <div><b>{{ feed.feed_user_id }}</b> {{ feed.content }}</div>
                        {% if feed.reply_count > 5 %}
                        <div style="color: rgb(158, 156, 156)">댓글 {{ feed.reply_count }}개 모두 보기</div>
                        {% endif %}
                        <!--댓글-->
                        <div id="reply_list_{{ feed.feed_id }}">
                            {% for reply in feed.reply_list %}
                            <div><b>{{ reply.reply_user_id }}</b> {{ reply.reply_content }}</div>
                        {% endfor %}
                        </div>
                        <div style="font-size: 10px; color: rgb(158, 156, 156); margin-top: 10px; ">5일 전</div>
                    </div>
                </div>
                <div
                    style="display:flex;flex-direction: row;align-items: center; border-top: solid 1px rgb(220, 220, 220) ">
                </div>
                <!-- 댓글 입력 -->
                <div class="comment">
                    <span class="material-symbols-outlined"
                        style="width: 30px; height: 30px; margin: 5px 5px 0 5px;">sentiment_very_satisfied</span>
                    <input id="reply_{{ feed.feed_id }}" type="text" style="box-shadow: none; border: none; outline: none;" class="form-control"
                        placeholder="댓글 달기..." aria-label="comment" aria-describedby="basic-addon1">
                    <div feed_id="{{ feed.feed_id }}" class="upload_reply"
                        style="width: 50px;color: cornflowerblue; font-weight: bold; margin: 5px;">
                       게시
                   </div>
                </div>
            </div>

            {% endfor %}
            <!--피드엔드-->
        </div>

        <div style="width: 400px; height: 1000px; position: fixed; left:60%; z-index: 0;">
            <div style="width: 400px; min-width: 400px;height: 1000px; margin-right: 400px; ">
                <div>
                    <div
                        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between">
                        <div style="display: flex; flex-direction: row;">
                            <div class="user_profile_image_box" style="width: 60px; height: 60px; margin-top: 15px; margin-left: 15px;">
                                <img class="profile"
                                    src="{% get_media_prefix %}{{ user.profile_image }}">
                            </div>
                            <div class="user_id" style="margin-top: 17px; text-align: left">
                                <div style="font-weight: bold;">
                                    {{ user_id }}
                                </div>
                                <div style="color: rgb(170, 170, 170)">
                                    {{ user.nickname }}
                                </div>
                            </div>
                        </div>

                        <div>
                            <a href="/#" style="text-decoration: None; font-weight: bold;">전환</a>
                        </div>
                    </div>
                </div>

                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 25px; ">
                    <div style="font-weight: bold; color: rgb(170, 170, 170);">
                        회원님을 위한 추천
                    </div>
                    <div>
                        <a href="/#" style="font-weight: bold; color: black; text-decoration: none;">모두 보기</a>
                    </div>
                </div>

                <div>
                    <div
                        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between">
                        <div style="display: flex; flex-direction: row;">
                            <div class="user_profile_image_box" style="width: 40px; height: 40px; margin-top: 15px; margin-left: 15px;">
                                <img class="profile"
                                    src="https://s-media-cache-ak0.pinimg.com/originals/56/ff/14/56ff14ca08165c099fc45f207520dfe0.jpg">
                            </div>
                            <div class="user_id" style="margin-top: 17px; text-align: left; font-size: 13px">
                                <div style="font-weight: bold;">
                                    Aleksandra
                                </div>
                                <div style="color: rgb(170, 170, 170);">
                                    Skkei님 외 31명이 팔로우합니다
                                </div>
                            </div>
                        </div>

                        <div>
                            <a href="/#" style="text-decoration: none; font-weight: bold;">팔로우</a>
                        </div>
                    </div>
                </div>
                <div style="color: rgb(170, 170, 170);  font-size: 13px; margin-top: 35px; text-align: left">
                    <div>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">소개·</a></span>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">도움말·</a></span>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">홍보 센터·</a></span>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">API·</a></span>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">채용 정보·</a></span>
                    </div>
                    <div>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;"
                                href="/#">개인정보처리방침·</a></span>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">약관·</a></span>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">위치·</a></span>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">인기 계정·</a></span>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">해시태그·</a></span>
                    </div>
                    <div>
                        <span><a style="color: rgb(170, 170, 170); text-decoration: none;" href="/#">언어·</a></span>
                    </div>
                    <p>
                    <div>
                        <span style="color: rgb(170, 170, 170); text-decoration: none; margin-top: 30px;">© 2022
                            INSTAGRAM FROM META</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}