<!DOCTYPE html>
<html lang="en">

<head>
    <title>ShInstagram</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Icon -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- jquery 사용하기 위해 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- style -->
    <style>
        .feed_profile_image_box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;

        }

        .user_profile_image_box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;

        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        .user_id {
            margin-top: 35px;
            margin-left: 20px;

        }

        .user_image {
            margin-top: 20px;
            width: 100%
        }

        .user_contents {
            text-align: left;
            font-size: 15px;
            margin: 15px;

        }

        .comment {
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between
        }

        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            z-index: 10000;
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }

        .modal_title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: bold;
            font-size: 20px;

        }

        .modal_title_side {
            flex: 0 0 40px;
            text-align: center;
        }

        .modal_image_upload {
            outline: 2px dashed black;
            outline-offset: -10px;
            text-align: center;
            transition: all .15s ease-in-out;
            width: 780px;
            height: 548px;

        }
    </style>
</head>

<body style="background-color: #FAFAFA;">
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%; z-index: 999;">
        <div class="container" style="justify-content: space-between;">
            <div>
                <a class="navbar-brand" href="/shinstagram"><img style="width: 100px;"
                        src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
                        alt=""></a>
                <a href="/"><img style="width: 100px;" src="http://evolabs.co.kr/media/EVOLABS-logo-black.png"
                        alt=""></a>
            </div>
            <input class="form-control me-2" style="width:300px;" type="search" placeholder="Search"
                aria-label="Search">
            <div style="display: flex">
                <span style="cursor:pointer" class="material-icons"><a href="/shinstagram" style="text-decoration: none; color:black;">home</a></span>
                <span style="cursor:pointer" class="material-icons-outlined">send</span>
                <span id="add_feed_box" style="cursor:pointer" class="material-icons-outlined">add_box</span>
                <span style="cursor:pointer" class="material-icons-outlined">explore</span>
                <span style="cursor:pointer" class="material-icons-outlined">favorite_border</span>
                <span id="user_settings" style="cursor:pointer; position:relative; " class="material-icons-outlined">
                    <div>
                        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img style="border-radius: 70%; margin-bottom: 10px; width: 24px; height: 24px; " class="profile"
                                src="{% get_media_prefix %}{{ user.profile_image }}">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink"
                            style="margin:10px; border-radius:5px; border: 1px solid left:-158px; rgb(206, 204, 204); height: 25; ">
                            <li><a style="margin: 5px" class="dropdown-item" href="/profile">프로필</a></li>
                            <li><a style="margin: 5px" class="dropdown-item" href="#">저장됨</a></li>
                            <li><a style="margin: 5px" class="dropdown-item" href="#">설정</a></li>
                            <li><a style="margin :5px" class="dropdown-item" href="#">계정 전환</a></li>
                            <li style="border-top: 1px solid rgb(230, 229, 229)"><a style="margin: 5px;"
                                    class="dropdown-item" href="/user/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </span>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

     <!-- 첫번째 모달-->
     <div id="first_modal_add_feed" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_title">
                <div class="modal_title_side"></div>
                <div style="font-size: 16px;">새 이미지 업로드</div>
                <div class="modal_title_side">
                    <span class="close_modal material-icons-outlined" style="cursor:pointer">
                        close
                    </span>
                </div>
            </div>
            <div class="modal_image_upload">


            </div>
        </div>
    </div>

    <!-- 두번째 모달-->
    <div id="second_modal_add_feed" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_title">
                <div class="modal_title_side"></div>
                <div id="next_modal" style="color: rgb(65, 129, 182); font-size: 16px; cursor:pointer;">다음</div>
                <div class="modal_title_side">
                    <span class="close_modal material-icons-outlined" style="cursor:pointer;">
                        close
                    </span>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; ">
                <div class="modal_image_upload">

                </div>
            </div>
        </div>
    </div>

    <!-- 세번째 모달-->
    <div id="third_modal_add_feed" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_title">
                <div class="modal_title_side"></div>
                <div id="share_content" style="color: rgb(65, 129, 182); font-size: 16px; cursor:pointer;">공유하기</div>
                <div class="modal_title_side">
                    <span class="close_modal material-icons-outlined" style="cursor:pointer;">
                        close
                    </span>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; ">
                <div class="modal_image_upload" style="width: 500px; height: 548px;">

                </div>
                <div>
                    <textarea class="form-control" id="modal_content_upload" rows="5"
                        style="width: 278px; height:200px; margin-left: 10px" placeholder="문구 입력..."></textarea>
                    <div style="margin-left: 10px; margin-top: 5px; " class="dropdown">
                        <button style="width: 278px;" class="btn btn-secondary dropdown-toggle" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            접근성
                        </button>
                        <ul style="width: 278px" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div style="margin-left: 10px; margin-top: 5px; " class="dropdown">
                        <button style="width: 278px;" class="btn btn-secondary dropdown-toggle" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            고급 설정
                        </button>
                        <ul style="width: 278px" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- JAVA SCRIPT START -->
    <script>
        // <!-- jquery 부분 -->

        //Add icon click
        $('#add_feed_box').click(function () {
            console.log()
            $('#first_modal_add_feed').css({
                display: 'flex'
            });

            $(document.body).css({
                overflow: 'hidden'
            });
        });

        //Click close Btn icon in First-Modal  
        $('.close_modal').click(function () {
            $('#first_modal_add_feed').css({
                display: 'none'
            });

            $('#second_modal_add_feed').css({
                display: 'none'
            });

            $('#third_modal_add_feed').css({
                display: 'none'
            });

            $('.modal_image_upload').css({
                "background-image": "none",
                "background-color": "white",
                "outline": "2px dashed black",
            })

            $(document.body).css({
                overflow: 'visible'
            });
        });

        // 다음 클릭 //
        $('#next_modal').click(function () {
            $('#second_modal_add_feed').css({
                display: 'none'
            });

            $('#third_modal_add_feed').css({
                display: 'flex'
            });
        });

        // 드레그 엔 드랍 //
        $('.modal_image_upload')
            .on("dragover", dragover)
            .on("dragleave", dragover)
            .on("drop", uploadFiles);

        function dragover(e) {
            e.stopPropagation();
            e.preventDefault();

            if (e.type == "dragover") {
                $(e.target).css({
                    "background-color": "black",
                    "outline-offset": "-20px"
                });

            } else {
                $(e.target).css({
                    "background-color": "white",
                    "outline-offset": "-10px"
                });
            }
        };

        // 모달 화면에 이미지 올리기 //
        var files
        function uploadFiles(e) {
            e.stopPropagation();
            e.preventDefault();

            e.dataTransfer = e.originalEvent.dataTransfer;
            files = e.dataTransfer.files;

            if (files.length > 1) {
                alert('하나만 올려라');
                return;
            }

            if (files[0].type.match(/image.*/)) {
                $('#first_modal_add_feed').css({
                    display: 'none'
                });

                $('#second_modal_add_feed').css({
                    display: 'flex'
                });

                $('.modal_image_upload').css({
                    "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                    "outline": "none",
                    "background-size": "auto",
                    "background-repeat": "no-repeat",
                    "background-position": "center",
                })

            } else {
                alert('이미지가 아닙니다');
                $(e.target).css({
                    "background-color": "white",
                    "outline-offset": "-10px"
                });
                return;
            }
        };

        // 모달 3 공유하기 버튼 //
        $('#share_content').on('click', () => {
            const image = $('.modal_image_upload').css("background-image").replace(/^url\(['"](.+)['"]\)/, '$1');
            const content = $('#modal_content_upload').val();
            const email = '{{ user.email }}'

            const file = files[0]

            let fd = new FormData();

            fd.append('file', file);
            fd.append('image', image);
            fd.append('content', content);
            fd.append('email', email);

            if (image.length <= 0) {
                alert("이미지가 비어있습니다.");
            }
            else if (content.length <= 0) {
                alert("설명을 입력하세요");
            }
            else {
                writeFeed(fd);
                console.log(files[0]);
            }
            console.log("share_content - success")
        });

        // 업로드 피드 //
        async function writeFeed(fd) {
            $.ajax({
                url: "/content/upload/",
                data: fd,
                method: "POST",
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log("success");
                },
                error: function (request, status, error) {
                    console.log("error");
                },
                complete: function () {
                    console.log("execute");
                    $('#third_modal_add_feed').css({
                        display: 'none'
                    });

                    $(document.body).css({
                        overflow: 'visible'
                    });

                    $('.modal_image_upload').css({
                        "background-image": "none",
                        "background-color": "white",
                        "outline": "2px dashed black",
                    })
                    location.reload();
                }
            })
        };

        // 로그아웃 //
        $('#login_button').click(function () {

            $.ajax({
                url: "/user/logout/",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    console.log("success");
                },
                error: function (request, status, error) {
                    let data = JSON.parse(request.responseText);
                    console.log("error");
                    alert(data.message);
                }
            });
        });
        // 프로필 이미지 업로드 //
        async function uploadProfileImage() {
            let fd = new FormData();    
            let profileupload = $("#input_user_profile_image");
            let file = profileupload[0].files[0]; 
    
            fd.append("file", file);
            console.log(file);

            $.ajax({
                url : "/profile/upload/",
                data : fd ,
                method : "POST",
                processData : false ,
                contentType : false ,
                success : function (data) {
                    console.log("성공");     
                    $('#user_profile_image').load(window.location.href+' #user_profile_image');
                    $('#user_settings').load(window.location.href+' #user_settings');
                },
                error : function (request, status, error){
                    console.log("에러");
                },
                complete : function() {
                    console.log("완료");  

                },
            });
        }
        // 댓글 업로드 //
        $('.upload_reply').click(function (e) {
            let feed_id = e.target.attributes.getNamedItem('feed_id').value
            let reply_id = 'reply_' + feed_id
            
            let reply_content = $('#'+reply_id).val()

            if (reply_content.length <= 0){
                alert("댓글을 입력하세요.")
            }
            $.ajax({
                url : "/content/reply/",
                data : { feed_id : feed_id,
                         reply_content : reply_content
                } ,
                method : "POST",
                success : function (data) {
                    console.log("성공");     
                    $("#reply_list_" + feed_id).append("<div><b>{{ user_id }}</b> " + reply_content + "</div>")
                },
                error : function (request, status, error){
                    console.log("에러");
                },
                complete : function() {
                    console.log("완료");  
                    $('#'+reply_id).val("")

                },
            });
        });

    </script>
    <!-- JAVA SCRIPT END -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>